<section class="text-center">
  <div>
    <img src="../../../assets/img/heading1.jpg" class="header1" alt="">
    <h1 class="jumbotron-heading" style="margin-top:40px;">One Of Ten</h1>

    <p class="lead text-muted">“A simple fact that is hard to learn is that the time to save money is when you have some.” —Joe Moore</p>
    <p style="margin-bottom:43px;">
      <a [routerLink]="['/register']" class="btn btn-primary my-2">Register</a>
      <a [routerLink]="['/login']" class="btn btn-secondary my-2">Login</a>
    </p>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-4" style="text-align:center;">
      <img class="rounded-circle" src="../../../assets/img/icon1.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Expenses</h2>
      <p>A fast and reliable application to manage expenses daily.</p>
    </div>
    <div class="col-md-4" style="text-align:center;">
      <img class="rounded-circle" src="../../../assets/img/icon2.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Income</h2>
      <p>Manage the sources and amount earned securely and privately.</p>
    </div>
    <div class="col-md-4" style="text-align:center;">
      <img class="rounded-circle" src="../../../assets/img/icon3.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Security</h2>
      <p>Build the database either encrypted and hosted online, or locally in your phone or browser.</p>
    </div>
  </div>
</div>

